{# This is an example of how to add multiple pages. Not necessary for projects with only one page. #}

{% extends '_base.html' %}

{% block meta %}
{% set header = header2 %}

{% include '_meta.html' %}
{% endblock %}

{# Customize title here #}
{% block title %}
{% set header = header2 %}

{% include '_title.html' %}
{% endblock %}

{# Customize intro here #}
{% block intro %}
{% set header = header2 %}

{% include '_intro.html' %}
{% endblock %}

{# Customize content. Modify right side of equals sign to match tab names in spreadsheet #}
{% block content %}
{% set header = header2 %}
{% set content = content2 %}
{% set right_rail = right_rail2 %}
{% set images = images2 %}
{% set bylines = bylines2 %}

{% include '_content.html' %}
{% include "_global-variables.html" %}
{% endblock %}

{# Customize analytics #}
{% block analytics %}
{% include '_analytics.html' %}
{% endblock %}

{# Customize css #}
{#
{% block css %}
{{ CSS.push('css/myfile.css')
{% endblock css %}
#}

{# Customize js #}
{#
{% block js %}
{{ js.push('js/myfile.js')
{% endblock js %}
#}


