{% macro build_content(content) %}

{% for row in content %}
    {% set rowloop = loop %}
    {% if row.content_type  == "text" %}
        {{ build_text(row) }}
    {% elif row.content_type  == "subhead" %}
        {{ build_subhead(row) }}    
    {% elif row.content_type  == "markup" %}
        {{ build_markup(row.value) }}        
    {% endif %}
{% endfor %}

{% endmacro %}




{% macro build_text(text_row) %}
<div class="row" {% if text_row.id %} id={{ text_row.id }} {% endif %}>
    <div class="col-lg-7 col-lg-offset-1">
        <p>{{ text_row.value.replace("\n", "</p><p>") | safe }}</p>
    </div>
    {% if text_row.right_rail_id %}
    <div class="col-lg-3">
       {{ build_right_rail(right_rail|filter('right_rail_id', text_row.right_rail_id)|first) }}
    </div>
    {% endif %}
</div>
{% endmacro %}



{% macro build_right_rail(right_rail_row) %}
  {% if right_rail_row.content_type == "text" %}
    <p>{{ right_rail_row.value | safe}}</p>
  {% elif right_rail_row.content_type == "markup" %}
    {{ build_markup(right_rail_row.value) }}
  {% endif %}
{% endmacro %}



{% macro build_subhead(subhead_row) %}
<div class="row" {% if subhead_row.id %} id={{ subhead_row.id }} {% endif %}>
    <div class="col-lg-7 col-lg-offset-1">
        <h2>{{ subhead_row.value }}</h2>
    </div>
</div>
{% endmacro %}



{% macro build_markup(markup) %}
    {% if markup | regex_match("^_.+\.html$") %} {# if markup references a .html file, then pull markup from there #}
        {% include markup %}
    {% else %}
        {{ markup | safe }} {# otherwise, load markup directly in from the file #}
    {% endif %}
{% endmacro %}