{% extends '_base.html' %}

{% block meta %}
{% include '_meta.html' %}
{% endblock %}

{# Customize title here #}
{% block title %}
{% include '_title.html' %}
{% endblock %}

{# Customize intro here #}
{% block intro %}
{% include '_intro.html' %}
{% endblock %}

{# Customize content #}
{% block content %}
{% include '_content.html' %}
{% endblock %}

{# Customize analytics #}
{% block analytics %}
{% include '_analytics.html' %}
{% endblock %}

{# Customize css #}
{#
{% block css %}
{{ CSS.push('css/myfile.css')
{% endblock css %}
#}

{# Customize js #}
{#
{% block js %}
{{ js.push('js/myfile.js')
{% endblock js %}
#}


